.MoviesCard__time {
  margin: 0;
  padding: 3px 8px;
  color: rgba(139, 139, 139, 1);
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  background-color: rgba(47, 47, 47, 1);
  border-radius: 3px;
}