.MoviesCard__save-button_active{
  margin: 0;
  padding: 0;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background: url(../../images/saveOn.svg) no-repeat;
  transition: opacity 0.5s;
}

.MoviesCard__save-button:hover {
  opacity: 0.7;
  cursor: pointer;
}