.NavigationSite {
  position: relative;
  margin: 0 0 0 44px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .NavigationSite {
    justify-content: end;
  }
}