.BurgerMenuPopUp__account-button {
  margin: auto 0 90px;
  min-width: 100px;
  min-height: 32px;
  border: none;
  border-radius: 20px;
  padding: 0;
  background-color: rgba(49, 49, 49, 1);
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  transition: opacity 0.5s;
}

.BurgerMenuPopUp__account-button:hover {
  opacity: 0.8;
  cursor: pointer;
}