.Header_page_authentication {
  margin: 70px auto 0;
  width: 396px;
  min-height: auto;
}

@media screen and (max-width: 1024px) {
  .Header_page_authentication {
    margin: 232px auto 0;
  }
}

@media screen and (max-width: 680px) {
  .Header_page_authentication {
    width: 320px;
    margin: 56px auto 0;
    display: flex;
    justify-content: center;
  }
}