.AboutProject__infoTable-cell {
  max-width: 550px;
  margin-right: 40px;
}

.AboutProject__infoTable-cell:last-child {
  margin-right: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 1279px) {
  .AboutProject__infoTable-cell {
    min-width: 319px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .AboutProject__infoTable-cell {
    min-width: 284px;
    margin-right: 0px;
    margin-bottom: 56px;
  }
}