.AboutProject__infoTable-text {
  margin: 26px 0 0;
  color:rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

@media screen and (max-width: 1260px) {
  .AboutProject__infoTable-text {
    margin: 22px 0 0;
    font-size: 12px;
    line-height: 1.50;
  }
}

@media screen and (max-width: 740px) {
  .AboutProject__infoTable-text {
    margin: 16px 0 0;
    font-size: 11px;
    line-height: 1.45;
  }
}