.Login__save-button {
  box-sizing: border-box;
  width: 396px;
  height: 45px;
  margin: 179px 0 0 0;
  padding: 0;
  text-align: center;
  background-color: rgba(66, 133, 244, 1);
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  transition: opacity 0.5s;
}

.Login__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .Login__save-button {
    margin: 267px 0 0;
    width: 260px;
  }
}

