.AboutMe__name {
  margin: 0;
  color:rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1024px) {
  .AboutMe__name {
    font-size: 40px;
    line-height: 1;
  }
}

@media screen and (max-width: 680px) {
  .AboutMe__name {
    margin: 40px 0 0;
    font-size: 30px;
    line-height: 1.20;
  }
}