.AboutMe {
  margin: 0 70px;
  padding: 110px 0 114px;
}

@media screen and (max-width: 1024px) {
  .AboutMe {
    margin: 0 50px;
    padding: 90px 0 80px;
  }
}

@media screen and (max-width: 680px) {
  .AboutMe {
    margin: 0 14px;
    padding: 70px 0;
  }
}